# Copyright (c) 2025 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_TARAKKIE_V1_LEFT

config ZMK_KEYBOARD_NAME
    default "Tarakkie v1"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_TARAKKIE_V1_LEFT || SHIELD_TARAKKIE_V1_RIGHT

config ZMK_SPLIT
    default y

endif
